# ========================================
# LLM Weights & Data (Absolute Must Ignore!)
# ========================================
*.safetensors
local_gemma_3n/
*.npy

# ========================================
# Python & PYNQ Environment
# ========================================
__pycache__/
*.pyc
.ipynb_checkpoints/
pynq_env/
venv/
env/
.env

# ========================================
# Vivado Junk & Build Files (Heavy!)
# ========================================
*.jou
*.log
*.pb
*.wdb
*.dir/
.Xil/
*.str
*.zip
vivado.tcl
*.gen/
*.runs/
*.cache/
*.hw/
*.sim/
*.dcp

# IP 관련 찌꺼기 (원본 .xci 파일은 트래킹하되, 생성된 폴더는 무시)
*.ip_user_files/
manage_ip_project/
ip_shared/

# Project backup and crash log
*.xpr.bak
hs_err_pid*.log
*.backup.jou
*.backup.log

# ========================================
# Hardware Output Files (Optional)
# ========================================
*.bit
*.bin
*.hwh
*.xclbin
*.xsa
*.hdf

# ========================================
# Simulator & OS Setup
# ========================================
obj_dir/
*.vcd
*.db
*.wpc
*.prj
*.lpr
*.bat
*.ini
*.pdf
*.dcp

.vscode/
.DS_Store
Thumbs.db

# Block Design UI 
*/ui/

# Vitis / HLS
.metadata/
*.o
*.elf
*.ap_prj/
*.solution/
*.bsp/
.gemini/
gha-creds-*.json
Transformer_Accelerator_FPGA-K26_SOM/Transformer_Accelerator/Transformer_Accelerator.srcs/utils_1/imports/synth_1/systolic_dsp_unit.dcp
*.dcp
/Transformer_Accelerator_FPGA-K26_SOM/Transformer_Accelerator/Transformer_Accelerator.srcs/utils_1/imports/synth_1

# markdown and extention for personal use
GEMINI.md
.VSCodeCounter/
.github/
.settings/
github/
settings/
